// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone,
.aligncenter,
.alignleft,
.alignright {
	@extend %image--fluid;

	float: none;
	margin: {
		right: auto;
		left: auto;
	}
}

@include breakpoint( md ) {

	.alignnone {
		@include h-spacing( 0 );
	}

	.alignleft {
		@include h-spacing-right;
		@include h-spacing-left( 0 );

		float: left;
	}

	.alignright {
		@include h-spacing-left;
		@include h-spacing-right( 0 );

		float: right;
	}
}

// Captions
.wp-caption {
	@extend %image--thumbnail;
}

.wp-caption-text {
	// padding-top: $line-spacing-base;
}

// Text meant only for screen readers
.screen-reader-text {
	@extend %sr-content--focusable;
}
