// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone,
.aligncenter,
.alignleft,
.alignright {
	display: inline-block;
	float: none;
	margin: ( $gutter-width / 2 ) auto;
	max-width: 100%;
	height: auto;
}

@include breakpoint( md ) {
	.alignnone {
		margin-right: 0;
		margin-left: 0;
	}

	.alignleft {
		float: left;
		margin-right: ( $gutter-width / 2 );
		margin-left: 0;
	}

	.alignright {
		float: right;
		margin-right: 0;
		margin-left: ( $gutter-width / 2 );
	}
}

// Captions
.wp-caption {
	// @extend .thumbnail;
}

.wp-caption-text {
	padding: ( $gutter-width / 2 );
}

// Text meant only for screen readers
.screen-reader-text {
	// @extend .sr-only;
	// @extend .sr-only-focusable;
}
