
@include global-box-sizing( border-box, true );

body {
	font-family: $font-family-base;
	@include container(1124px);
	font-size:   $font-size-base;
	background-color:#f4f4f4;
	}

html {
	font-size: $font-size-base;
	background-color: #f4f4f4;
	}


a {
	color: $link-color;
	text-decoration:none;
	font-size: $font-size-base;
	&:hover {
		text-decoration: underline;
		}
	&:visited {
		color: $visited-link-color;
		}
	}

.row {
	@include susy-clearfix;
	}

body > .container, .banner, .content {
	background:#fff;
	}

body > .container {
	border: 1px solid #e3e3e3;
	border-top:none;
	border-bottom:none;
	padding-top:20px;
	}
