////
/// Default styles
///
/// @group Base
////

@include global-box-sizing( border-box, true );

html,
body {
	background-color: $background-color-body;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
}


@include any-link {
	font-size: inherit;
}

@include unvisited-link {
	text-decoration: $text-decoration-link;
	color: $color-link;

	@include is-hover {
		text-decoration: $text-decoration-link-hover;
		color: $color-link-hover;
	}

	@include is-focus {
		text-decoration: $text-decoration-link-focus;
		color: $color-link-focus;
	}

	@include is-active {
		text-decoration: $text-decoration-link-active;
		color: $color-link-active;
	}
}

@include visited-link {
	text-decoration: $text-decoration-link-visited;
	color: $color-link-visited;

	@include is-hover {
		text-decoration: $text-decoration-link-visited-hover;
		color: $color-link-visited-hover;
	}

	@include is-focus {
		text-decoration: $text-decoration-link-visited-focus;
		color: $color-link-visited-focus;
	}

	@include is-active {
		text-decoration: $text-decoration-link-visited-active;
		color: $color-link-visited-active;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include style-link {
		color: inherit;
	}
}

img {
	@extend %image--fluid;
}
