////
/// Default styles
///
/// @group Base
////

@include global-box-sizing( border-box, true );

html,
body {
	background-color: $color-bg-body;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
}

a {
	&,
	&:hover,
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
		color: inherit;
	}
}

// Only apply the default link styles to entry content areas. This way we don't
// have to override the hover/active/focus/visited styles for UI links.
.entry__content {
	a {
		@extend %content-link;
	}
}

.page-header-container {
	background-color: $color-bg-header;
	color: $color-header;
}

.page-nav-container {
	background-color: $color-bg-nav-primary;
	color: $color-nav-primary;
}

.page-content {
	background-color: $color-bg-content;
	color: $color-content;
}

.page-footer-container {
	background-color: $color-bg-footer;
	color: $color-footer;
}

.page-content {
	border: 1px solid darken( $color-bg-content, 10% );
}
