////
/// Typography
///
/// @group Base
////

// Set header font sizes.
h1 {
	font-size: $font-size-heading;
}

h2 {
	font-size: $font-size-title;
}

h3 {
	font-size: $font-size-large;
}

h4 {
	font-size: $font-size-base;
}

h5,
h6 {
	font-size: $font-size-small;
}

// Override margins added by normalize.css.
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

// Establish a vertical rhythm.
* {
	margin: 0;
	line-height: $line-height-base;
}

ul,
ol,
dl {
	padding: 0;
}

.content-section,
.entry__content,
.widget__content {

	* {
		// Default line spacing.
		+ * {
			@include v-spacing-top;
		}

		// Sub-headings.
		+ h2,
		+ h3 {
			@include v-spacing-top( $line-spacing-heading );
		}

		// List items.
		+ li,
		+ dt,
		+ dd {
			@include v-spacing-top( $line-spacing-list-item );
		}
	}

	ul,
	ol,
	dl {
		margin-left: 1.5em;
		list-style-position: outside;
	}

	dt {
		font-weight: bold;
	}
}
