
/// Theme colors
///
/// @type {Map}
/// @access private
$_theme-colors: (
	base:      $color-base,
	light:     $color-light,
	medium:    $color-medium,
	dark:      $color-dark,
	primary:   $color-brand-primary,
	secondary: $color-brand-secondary,
	tertiary:  $color-brand-tertiary,
	success:   $color-state-success,
	error:     $color-state-error,
	info:      $color-state-info,
	alert:     $color-state-alert,
);

%color-swatch {
	display: block;
	line-height: rem-calc( 40px );

	&::before {
		display: block;
		float: left;
		margin-right: $margin-base;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		width: rem-calc( 40px );
		height: rem-calc( 40px );
		content: '';
	}
}

.docs-page {

	// Page layout
	* + .content-section {
		margin-top: rem-calc( 40px );
		border-top: 1px solid #ccc;
		padding-top: rem-calc( 40px );
	}

	.content-section {
		* + h2,
		* + h3 {
			margin-top: $gutter-height;
		}
	}

	// Breadcrumbs
	.breadcrumb--current {
		font-weight: 600;
	}

	// Color swatches
	@each $key, $value in $_theme-colors {
		.color-swatch--#{$key} {
			@extend %color-swatch;

			&::before {
				background-color: $value;
			}
		}
	}

	// Code examples
	* + .ss-code {
		margin-top: $gutter-height;
	}

	.ss-code {
		border-radius: 2px;
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
		background: rgba( 0, 0, 0, 0.02 );
		padding: $gutter-height $gutter-width;

		code {
			display: block;
			overflow-x: scroll;
		}

		+ p {
			margin-top: $gutter-height;
		}
	}

	.ss-code-live {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: $gutter-height 0;

		.button--block {
			margin-bottom: 0 !important;
		}

		[class*="grid-col"] {
			margin-top: 0 !important;
			border: gutters() solid #fff;
			border-top-width: 0.5 * gutters();
			border-bottom-width: 0.5 * gutters();
			background: rgba( 255, 0, 0, 0.25 );
			padding: 10px;
			text-align: center;
			color: #333;
		}
	}
}
