////
/// @group Abstracts
////

@import 'abstracts/placeholders/nav';

%content-section,
%content-sub-section {
	@include susy-clearfix;

	display: block;
}

%content-section + %content-section {
	@include v-spacing-top( $gutter-height );
}

%content-sub-section + %content-sub-section {
	@include v-spacing-top;
}

%button-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 0.5em;

	%button {
		margin: 0.5em;
		margin-bottom: 0;
	}
}

%button {
	@include style-link {
		display: inline-block;
		border: $border-width-button-default solid transparent;
		background-color: $background-color-button-default;
		cursor: pointer;
		user-select: none;
		padding: 5px 20px;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		line-height: 1;
		word-spacing: normal;
		white-space: nowrap;
		color: $color-base;
		font-family: $font-family-button;
		font-size: $font-size-large;
	}
}

%button--block {
	@extend %button;

	display: block;
	width: 100%;

	* + & {
		@include v-spacing;
	}
}

%button--rounded {
	@extend %button;

	border-radius: 4px;
}

%button--pill {
	@extend %button;

	border-radius: 100px;
}

@each $key, $value in $button-variants {

	%button--#{$key} {
		@extend %button;
		@include button-color( $value );
	}

	%button--block--#{$key} {
		@extend %button--block;
		@extend %button--#{$key};
	}
}

%image--fluid {
	@include image-fluid;
}

%image--thumbnail {
	@include image-fluid;

	transition: all 0.2s ease-in-out;
	border: 1px solid $border-color-content;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
	background-color: $background-color-content;
	padding: $line-spacing-base;
	line-height: 1;
}

%sr-content {
	@include sr-content;
}

%sr-content--focusable {
	@include sr-content( $is-focusable: true );
}

%widget {
	@extend %content-section;

	position: relative;
	color: $color-widget;

	%widget__title,
	%widget__content {
		@extend %content-sub-section;
	}

	%widget__title {
		color: $color-widget-header;
	}
}

%widget--boxed {
	@extend %widget;

	border: 1px solid $border-color-widget;
	background-color: $background-color-widget;
	padding: {
		top: $padding-base;
		bottom: $padding-base;
	};

	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: {
			top: -1px;
			right: -1px;
			left: -1px;
		}
		background-color: $color-widget-divider;
		height: 4px;
		content: '';
	}

	%widget__title,
	%widget__content {
		padding: {
			right: $padding-base;
			left: $padding-base;
		}
	}
}
