////
/// Footer
///
/// @group Layout
////

.page-footer-container {
	background-color: $background-color-footer;
	padding: {
		top: $gutter-height;
		bottom: $gutter-height;
	}
	color: $color-footer;
}
