////
/// Header
///
/// @group Layout
////

.page-header-container {
	background-color: $color-bg-header;
	color: $color-header;
}

.page-header {
	padding-bottom: ( $gutter-height * 0.75 );
}

.branding--header {
	@include span( 50% );
}

.search--header {
	@include susy-clearfix;
	@include span( last 50% );
}

.search--header {
	float: right;
}

.logo--search {
	float: right;
	margin-left: rem-calc( 30px );
	width: rem-calc( 73px );
}
