////
/// Main Content
///
/// @group Layout
////

.page-content-container,
.page-content {
	padding-top: $gutter-height;
	padding-bottom: $gutter-height;
}

.page-content {
	border: 1px solid $color-border-content;
	background-color: $color-bg-content;
	color: $color-content;

	img {
		@extend %image-fluid;
	}
}

main,
.sidebar {
	@include span( 100% );
}

.content-header,
.content-footer,
.content-section,
.entry {
	margin-bottom: $gutter-height;
}

.entry {
	@include susy-clearfix;
}

@include breakpoint( lg ) {
	main {
		.has-sidebar-primary & {
			@include span( $span-main-content - $span-sidebar-primary );
		}

		.has-sidebar-secondary & {
			@include span( $span-main-content - $span-sidebar-secondary );
		}

		.has-sidebar-primary.has-sidebar-secondary & {
			@include span(
				$span-main-content
					- $span-sidebar-primary
					- $span-sidebar-secondary
			);
		}
	}
}
