////
/// Main Content
///
/// @group Layout
////

.page-content-container,
.page-content {
	padding-top: $gutter-height;
	padding-bottom: $gutter-height;
}

.page-content {
	border: 1px solid $border-color-content;
	background-color: $background-color-content;
	color: $color-content;
}

main,
.sidebar {
	@include span( 100% );
}


.content-section {
	@extend %content-section;
}

.entry__header,
.entry__content,
.entry__footer {
	@extend %content-sub-section;
}

@include breakpoint( md ) {
	main {
		.has-sidebar-primary & {
			@include span( last $span-main-content - $span-sidebar-combined );
		}

		.has-sidebar-secondary & {
			@include span( last $span-main-content - $span-sidebar-combined );
		}

		.has-sidebar-primary.has-sidebar-secondary & {
			@include span( last $span-main-content - $span-sidebar-combined );
		}
	}
}

@include breakpoint( lg ) {
	main {
		.has-sidebar-primary & {
			@include span( $span-main-content - $span-sidebar-primary );
		}

		.has-sidebar-secondary & {
			@include span( $span-main-content - $span-sidebar-secondary );
		}

		.has-sidebar-primary.has-sidebar-secondary & {
			@include span(
				$span-main-content
					- $span-sidebar-primary
					- $span-sidebar-secondary
			);
		}
	}
}
