////
/// Breadcrumbs
///
/// @group Components
////

.breadcrumbs {
	@extend %content-section;

	display: table;
	background-color: $background-color-content;
	width: 100%;
	list-style: none;
}

.breadcrumb {
	display: table-cell;
	border: 1px solid $border-color-content;
	border-bottom: 0;
	border-left: 0;
	padding: rem-calc( 15px );
	width: 1%;

	&:last-child {
		width: auto;
	}

	a {
		@include style-link {
			color: inherit;
		}
	}
}

.breadcrumb--icon {
	border-left-width: 1px;
	border-color: $color-brand-primary;
	background-color: $color-brand-primary;
	color: contrast-color( $color-brand-primary );
	font-size: rem-calc( 18px );
}

.breadcrumb--section {
	text-transform: uppercase;
	color: $color-brand-primary;
	font-weight: bold;
}

.breadcrumb--trail {
	[property="itemListElement"] > [property="name"] {
		font-weight: bold;
	}
}
