////
/// Breadcrumbs
///
/// @group Components
////

.breadcrumbs {
	@include susy-clearfix;
	@include span( full );

	margin-top: $gutter-height;
	margin-bottom: $gutter-height;
	border: 1px solid darken( $color-light, 10% );
	background-color: $color-light;
	padding: rem-calc( 15px ) 0;
	list-style: none;
}

.breadcrumb__icon {
	background-color: $color-brand-primary;
	color: contrast-color( $color-brand-primary );
}

.breadcrumb__link {
	color: $color-brand-primary;
}
