
.footer-copyright {
	color: $color-footer-copyright;
	font-size: $font-size-footer-copyright;
}

.menu-footer-menu-container {

	ul {
		@include susy-clearfix;

		margin: 0 0 rem-calc( 10px );
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		margin: 0 0 0 rem-calc( 5px );
		border-right: 1px solid $color-footer-nav;
		padding: 0 rem-calc( 10px ) 0 rem-calc( 5px );
		font-size: $font-size-footer-nav;

		&:last-of-type {
			border: 0;
		}

		&:first-of-type {
			margin-left: 0;
			padding-left: 0;
		}
	}

	a {
		font-size: $font-size-footer-nav;

		&,
		&:visited {
			color: $color-footer-nav;
		}
	}
}
