.search-form {
	bottom: 0;
	text-align: right;

	&__label {
		margin-right: -3px;
	}

	&__icon {
		@include icon( $fa-var-search );

		background: $color-base;
		padding-top: rem-calc( 6px );
		width: rem-calc( 26px );
		height: rem-calc( 26px );
		color: ensure-contrast( $color-base );
	}
}
