.nav-primary {
	background-color: $bg-color-nav-primary;

	ul {
		@include susy-clearfix;

		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		padding: rem-calc( 5px ) rem-calc( 25px );

		&:hover {
			background-color: darken( $bg-color-nav-primary, 20% );
		}
	}

	a {
		text-decoration: none;
		color: $color-nav-primary;
		font-size: $font-size-nav;
	}
}
