////
/// Header Search Form
///
/// @group Components
////

.search-form {
	@include susy-clearfix;

	position: relative;
	margin: 0 auto;
	max-width: 90%;
	text-align: right;
}

.search-form__label,
.search-form__input,
.search-form__button {
	display: inline-block;
}

.search-form__label,
.search-form__input {
	max-width: 100%;
}

.search-form__label {
	float: right;
}

.search-form__input {
	width: rem-calc( 300px );
	height: rem-calc( 38px );
}

.search-form__button {
	position: absolute;
	right: 0;
	outline: 0;
	border: 0;
	background-color: $color-base;
	padding: 0;
	width: rem-calc( 38px );
	height: rem-calc( 38px );
	text-align: center;
	line-height: rem-calc( 38px );
	color: contrast-color( $color-base );
	font-size: rem-calc( 24px );

	.header-search & {
		right: gutter();
	}
}

.search-form__icon {
	@include icon( $fa-var-search );
}
