.banner{
	.header-right {
		ul {
			@include susy-clearfix;
			list-style: none;
			margin:0 0 10px 0;
			padding:0;
			li {
				float:left;
				padding: 0 10px 0 5px;
				margin:0 0 0 5px;
				border-right: 1px solid $search-menu-color;
				font-size: $search-menu-size;

				&:last-of-type {
					border:none;
					padding-right:0;
					margin-right:0;
					}
				&:first-of-type {
					padding-left:0;
					margin-left:0;
					}

				a {
					color:$search-menu-color;
					font-size:$search-menu-size;
					&:visited {
						color:$search-menu-color;
						}
					}
				}
			}
		}
	}
