////
/// Footer Site Info
///
/// @group Components
////

// Footer site info.
.site-info--footer {
	margin-top: $margin-base;
	color: $color-footer-copyright;
	font-size: $font-size-footer-copyright;
}
