////
/// Grid
///
/// @group Layout
////



// Grid helper classes.
.grid,
.grid-row {
	@include container;

	display: block;
	width: 100%;
}

.grid-col {
	@include span( 100% );
}

@for $i from 1 through 25 {
	.grid-col--span-#{$i} {
		@include span( $i );
	}
}


.page-header,
.page-nav,
.page-breadcrumbs,
.page-content,
.page-footer {
	@include susy-clearfix;
	@include container;

	@each $key, $value in $breakpoints {
		@if $value > 0 {
			@include breakpoint( $key ) {
				max-width: map-get( $container-widths, $key );
			}
		}
	}
}

.page-header,
.page-content,
.page-footer {
	@include gutters;
}
