////
/// Header
///
/// @group Layout
////

.page-header-container {
	background-color: $background-color-header;
	color: $color-header;
}

.page-header {
	padding: {
		top: $padding-base;
		bottom: $padding-base;
	}
}

.branding--header {
	@include span( full );
	text-align: $mobile-header-alignment;
	@include breakpoint( sm ) {
		text-align: left;
		@include span( 11 );
	}
}

.header--right-side {
	@include span( full );
	@include break;
	text-align: $mobile-header-alignment;
	@include breakpoint( sm ) {
		@include span( last 13 );
		@include nobreak;
		text-align: right;
	}
	@include nested( 13 ) {

		.header--row {
			@include break;
		}

		.header--top-row {
			@include span( full );
			text-align: $mobile-header-alignment;

			@include breakpoint( sm ) {
				text-align: right;
				@include span( 13 );
			}
			margin-bottom: $gutter-height * 0.5;

		}

		.header--search {
			@include span( 13 );
		}

		.has-search-logo & {

			.header--top-row {
				@include span( full );
				text-align: $mobile-header-alignment;

				@include breakpoint( sm ) {
					@include span( first 11 );
					@include post( 2 );
					text-align: right;
				}
			}

			.header--search {
				@include span( first 10 );
				@include breakpoint( md ) {
					@include span( first 11 );
				}
			}

			.header--right-logo {
				text-align: left;
				@include span( last 3 );
				@include breakpoint( md ) {
					@include span( last 2 );
				}
			}
		}
	}
}
