
/// Media query helper mixin.
///
/// @param {String} $breakpoint - The breakpoint you want to target.
/// @param {String} $min-max ['min'] - Set to 'max' for a `max-width` media query.
///
/// @content The styles you want to apply the media query to.
@mixin breakpoint( $breakpoint, $min-max: 'min' ) {

	$type:  if( 'max' == $min-max, 'max-width', 'min-width' );
	$width: get-breakpoint( $breakpoint, $min-max );

	// Make sure breakpoint is both valid and enabled.
	@if $width != false {

		// Wrap nested content in a media query if breakpoint width > 0.
		@if $width == 0 {
			@content;
		} @else {
			@media( $type: $width ) {
				@content;
			}
		}
	}
}

@mixin blr-container {
	@include susy-clearfix;

	margin-right: auto;
	margin-left: auto;
	width: 100%;

	@each $key, $value in $container-widths {
		@if $value != 'disabled' and $value != 0 {
			@include breakpoint( $key ) {
				width: abs( $value );
			}
		}
	}
}
