////
/// Custom Mixins
///
/// @group Abstracts
////


///
/// Media query helper mixin.
///
/// @param
///
@mixin breakpoint( $breakpoint, $min-max: 'min' ) {

	$type:  if( 'max' == $min-max, 'max-width', 'min-width' );
	$width: get-breakpoint( $breakpoint, $min-max );

	@if $width {
		@media( $type: $width ) {
			@content;
		}
	}
}

@mixin icon( $icon-content: null ) {
	@include fa-icon;

	text-align: center;

	@if $icon-content {
		&::before {
			content: $icon-content;
		}
	}
}

@mixin alpha-attribute( $attribute, $color, $background: #fff ) {

	$percent: alpha( $color ) * 100%;

	@if ( $percent < 100% ) {
		#{$attribute}: mix( opacify( $color, 1 ), $background, $percent );
	}

	#{$attribute}: $color;
}

@mixin button-style( $style ) {
	@if map-has-key( $button-variants, $variant ) {
		@include button-color( map-get( $button-variants, $variant ) );
	} @else {
		@warn "`#{$variant}` is not a valid button variant.";
	}
}

@mixin button-color( $color ) {
	border-color: $color;
	color: $color;

	&:active,
	&:focus,
	&:hover {
		background-color: $color;
		color: ensure-contrast( $color );
	}
}
