////
/// @group Abstracts
////

/// @todo Add `$text-decoration-link` and `$text-decoration-link-*` variables.
%content-link {
	text-decoration: none;
	color: $color-link;
	font-size: $font-size-base;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}

	&:hover {
		color: $color-link-hover;
	}

	&:active {
		color: $color-link-active;
	}

	&:focus {
		color: $color-link-focus;
	}

	&:visited {
		color: $color-link-visited;

		&:hover {
			color: $color-link-visited-hover;
		}

		&:active {
			color: $color-link-visited-active;
		}

		&:focus {
			color: $color-link-visited-focus;
		}
	}
}

%button {
	display: inline-block;
	border: 2px solid transparent;
	background-color: $color-light;
	cursor: pointer;
	user-select: none;
	padding: 5px 20px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	color: $color-base;
	font-size: $font-size-large;
}

@each $key, $value in $button-variants {
	%button-#{$key} {
		@extend %button;
		@include button-color( $value );
	}
}

%nav {
	display: block;
	font-size: $font-size-nav;

	%menu {
		@include susy-clearfix;

		margin: 0;
		padding: 0;
		list-style: none;
	}

	%menu {
		display: block;
	}

	%menu__item,
	%menu__link {
		display: inline-block;
		border-color: inherit;
		line-height: 1;
		color: inherit;
		font-size: inherit;
	}

	%menu__link {
		padding: {
			top: 0.5em;
			bottom: 0.5em;
		}
		text-decoration: none;
	}
}

%nav-horizontal {

	%menu__item {
		float: left;
	}

	%menu__link {
		padding: {
			right: 0.75em;
			left: 0.75em;
		}
	}
}

%nav-horizontal-with-dividers {
	@extend %nav-horizontal;

	%menu__item {
		padding: {
			top: 0.5em;
			bottom: 0.5em;
		}
	}

	%menu__link {
		padding: {
			top: 0;
			bottom: 0;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	%menu__item + %menu__item {
		%menu__link {
			border-left: {
				width: 1px;
				style: solid;
			}
		}
	}
}

%nav-vertical {

	%menu__item {
		float: none;
	}

	%menu__item,
	%menu__link {
		display: block;
	}
}

%nav-vertical-with-dividers {
	@extend %nav-vertical;

	%menu__link:hover {
		text-decoration: underline;
	}

	%menu__item + %menu__item {
		%menu__link {
			border-top: {
				width: 1px;
				style: solid;
			}
		}
	}
}
