////
/// @group Abstracts
////



// -------------------------------------------------------------------------
// Grid / Layout
// -------------------------------------------------------------------------

// Susy global config
$susy-default: (
	columns: 24,
	gutters: 20px / 26px,
	gutter-position: inside,
	global-box-sizing: border-box,
);
$susy: $susy-default !default;
$susy: map-extend( $susy-default, $susy );

// Breakpoints
$breakpoints-default: (
	xs: 0,
	sm: rem-calc( 572px ),
	md: rem-calc( 756px ),
	lg: rem-calc( 940px ),
	xl: rem-calc( 1124px ),
);
$breakpoints: $breakpoints-default !default;
$breakpoints: map-extend( $breakpoints-default, $breakpoints );

// Container widths
$container-widths: $breakpoints;

// Page template layouts
$grid-cols-main-content: 24;
$grid-cols-sidebar-primary: 5;
$grid-cols-sidebar-secondary: 7;



// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

// Generic
$color-base:             #555    !default;
$color-light:            #fff    !default;
$color-dark:             #393939 !default;

// Branding
$color-brand-primary:    #d2202f !default;
$color-brand-secondary:  #aeb6b4 !default;
$color-brand-tertiary:   #f4f4f4 !default;

// States
$color-state-success:    #58b956 !default;
$color-state-error:      #ca2026 !default;
$color-state-info:       #58c0e0 !default;
$color-state-alert:      #f1ae42 !default;

// Links
$color-link:             #0071bc !default;
$color-link-visited:     #639    !default;

// Buttons
$color-button-primary:   $color-brand-primary   !default;
$color-button-secondary: $color-brand-secondary !default;
$color-button-tertiary:  $color-brand-tertiary  !default;
$color-button-success:   $color-state-success   !default;
$color-button-error:     $color-state-error     !default;
$color-button-info:      $color-state-info      !default;
$color-button-alert:     $color-state-alert     !default;

$button-variants: (
	primary:   $color-button-primary,
	secondary: $color-button-secondary,
	tertiary:  $color-button-tertiary,
	success:   $color-button-success,
	error:     $color-button-error,
	info:      $color-button-info,
	alert:     $color-button-alert,
);

// Content
$color-body:             $color-base           !default;
$color-nav-primary:      $color-light          !default;
$color-footer-nav:       $color-light          !default;
$color-search-nav:       $color-base           !default;
$color-footer-copyright: $color-base           !default;
$bg-color-body:          $color-brand-tertiary !default;
$bg-color-content:       $color-light          !default;
$bg-color-header:        $color-light          !default;
$bg-color-nav-primary:   $color-dark           !default;



// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

// Font families
$font-family-sans:           'Open Sans', sans-serif !default;
$font-family-serif:          Georgia, Times, serif !default;
$font-family-mono:           monaco, Consolas, monospace !default;
$font-family-base:           $font-family-sans !default;

// Font sizes
$font-size-base:             rem-calc( 14px ) !default;
$font-size-small:            rem-calc( 13px ) !default;
$font-size-large:            rem-calc( 16px ) !default;
$font-size-title:            rem-calc( 18px ) !default;
$font-size-heading:          rem-calc( 20px ) !default;

// Content
$font-size-nav:              $font-size-large !default;
$font-size-search-nav:       $font-size-base  !default;
$font-size-footer-nav:       $font-size-base  !default;
$font-size-footer-copyright: $font-size-small !default;



// -------------------------------------------------------------------------
// Icons
// -------------------------------------------------------------------------

// FontAwesome
$fa-css-prefix: 'icon' !default;
