////
/// @group Abstracts
////



// -------------------------------------------------------------------------
// Grid / Layout
// -------------------------------------------------------------------------

/// Default breakpoints.
///
/// @type {Map}
/// @access private
$_breakpoints: (
	xs: 0,
	sm: rem-calc( 572px ),
	md: rem-calc( 756px ),
	lg: rem-calc( 940px ),
	xl: rem-calc( 1124px ),
);

/// Breakpoints
///
/// @type {Map}
$breakpoints: $_breakpoints !default;
$breakpoints: map-extend( $_breakpoints, $breakpoints );

/// Container widths.
///
/// @type {Map}
$container-widths: $breakpoints !default;
$container-widths: map-extend( $breakpoints, $container-widths );

/// The number of columns to use for the grid.
///
/// @type {Number}
$grid-cols: 24 !default;

/// The width of the grid.
///
/// @type {Number}
$grid-width: rem-calc( 1124px ) !default;

/// The width of a grid column.
///
/// @type {Number}
$grid-col-width: rem-calc( 26px ) !default;

/// The width of the gutter between grid columns.
///
/// @type {Number}
$gutter-width: rem-calc( 20px ) !default;

/// The height of the gutter between grid rows.
///
/// @type {Number}
$gutter-height: $gutter-width !default;

/// Default padding
///
/// @type {Number}
$padding-base: rem-calc( 15px ) !default;

/// Default margin
///
/// @type {Number}
$margin-base: rem-calc( 10px ) !default;

/// Heading margin
///
/// @type {Number}
$margin-heading: $margin-base !default;

/// List item margin
///
/// @type {Number}
$margin-list-item: $margin-base !default;

/// The number of columns the main content section spans with no sidebars.
///
/// @type {Number}
$span-main-content: 24 !default;

/// The number of columns the primary column spans.
///
/// @type {Number}
$span-sidebar-primary: 5  !default;

/// The number of columns the secondary column spans.
///
/// @type {Number}
$span-sidebar-secondary: 7  !default;

/// Default global Susy config.
///
/// @type {Map}
/// @access private
$_susy: (
	columns: $grid-cols,
	gutters: $gutter-width / $grid-col-width,
	gutter-position: inside,
	global-box-sizing: border-box,
);

/// Global Susy config.
///
/// @type {Map}
$susy: $_susy !default;
$susy: map-extend( $_susy, $susy );



// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

/// The default color.
///
/// @type {Color}
$color-base: #555 !default;

/// The default light color.
///
/// @type {Color}
$color-light: #fff !default;

/// The default dark color.
///
/// @type {Color}
$color-dark: #393939 !default;

/// Primary branding color.
///
/// @type {Color}
$color-brand-primary: #d2202f !default;

/// Secondary branding color.
///
/// @type {Color}
$color-brand-secondary: #aeb6b4 !default;

/// Tertiary branding color.
///
/// @type {Color}
$color-brand-tertiary: #f4f4f4 !default;

/// Success state color.
///
/// @type {Color}
$color-state-success: #58b956 !default;

/// Error state color.
///
/// @type {Color}
$color-state-error: #ca2026 !default;

/// Info state color.
///
/// @type {Color}
$color-state-info: #58c0e0 !default;

/// Alert state color.
///
/// @type {Color}
$color-state-alert: #f1ae42 !default;

/// Link color.
///
/// @type {Color}
$color-link: #0071bc !default;

/// Link color - hover state.
///
/// @type {Color}
$color-link-hover: darken( $color-link, 10% ) !default;

/// Link color - active state.
///
/// @type {Color}
$color-link-active: darken( $color-link, 10% ) !default;

/// Link color - focus state.
///
/// @type {Color}
$color-link-focus: darken( $color-link, 10% ) !default;

/// Visited link color.
///
/// @type {Color}
$color-link-visited: #639 !default;

/// Visited link color - hover state.
///
/// @type {Color}
$color-link-visited-hover: darken( $color-link-visited, 10% ) !default;

/// Visited link color - active state.
///
/// @type {Color}
$color-link-visited-active: darken( $color-link-visited, 10% ) !default;

/// Visited link color - focus state.
///
/// @type {Color}
$color-link-visited-focus: darken( $color-link-visited, 10% ) !default;

/// Default button color.
///
/// @type {Color}
$color-button-default: $color-base !default;

/// Primary branding button color.
///
/// @type {Color}
$color-button-primary: $color-brand-primary !default;

/// Secondary branding button color.
///
/// @type {Color}
$color-button-secondary: $color-brand-secondary !default;

/// Tertiary branding button color.
///
/// @type {Color}
$color-button-tertiary: $color-brand-tertiary !default;

/// Success state button color.
///
/// @type {Color}
$color-button-success: $color-state-success !default;

/// Error state button color.
///
/// @type {Color}
$color-button-error: $color-state-error !default;

/// Info state button color.
///
/// @type {Color}
$color-button-info: $color-state-info !default;

/// Alert state button color.
///
/// @type {Color}
$color-button-alert: $color-state-alert !default;

/// Body text color.
///
/// @type {Color}
$color-body: $color-base !default;

/// Body background color.
///
/// @type {Color}
$color-bg-body: $color-brand-tertiary !default;

/// Header text color.
///
/// @type {Color}
$color-header: $color-base !default;

/// Header background color.
///
/// @type {Color}
$color-bg-header: $color-light !default;

/// Main content text color.
///
/// @type {Color}
$color-content: $color-base !default;

/// Main content background color.
///
/// @type {Color}
$color-bg-content: $color-light !default;

/// Main content border color.
///
/// @type {Color}
$color-border-content: darken( $color-bg-content, 10% ) !default;

/// Footer text color.
///
/// @type {Color}
$color-footer: $color-light !default;

/// Footer background color.
///
/// @type {Color}
$color-bg-footer: $color-dark !default;

/// Default nav menu item color.
///
/// @type {Color}
$color-nav-default: $color-light !default;

/// Default nav menu item color - hover state.
///
/// @type {Color}
$color-nav-default-hover: $color-nav-default !default;

/// Default nav menu item color - focus state.
///
/// @type {Color}
$color-nav-default-focus: $color-nav-default !default;

/// Default nav menu item color - active state.
///
/// @type {Color}
$color-nav-default-active: $color-nav-default !default;

/// Default nav menu background color.
///
/// @type {Color}
$color-bg-nav-default: transparent !default;

/// Default nav menu background color - hover state.
///
/// @type {Color}
$color-bg-nav-default-hover: $color-bg-nav-default !default;

/// Default nav menu background color - focus state.
///
/// @type {Color}
$color-bg-nav-default-focus: $color-bg-nav-default !default;

/// Default nav menu background color - active state.
///
/// @type {Color}
$color-bg-nav-default-active: $color-bg-nav-default !default;

/// Primary nav menu item color.
///
/// @type {Color}
$color-nav-primary: $color-light !default;

/// Primary nav menu item color - hover state.
///
/// @type {Color}
$color-nav-primary-hover: $color-nav-primary !default;

/// Primary nav menu item color - focus state.
///
/// @type {Color}
$color-nav-primary-focus: $color-nav-primary !default;

/// Primary nav menu item color - active state.
///
/// @type {Color}
$color-nav-primary-active: $color-nav-primary !default;

/// Primary nav menu background color.
///
/// @type {Color}
$color-bg-nav-primary: $color-dark !default;

/// Primary nav menu background color - hover state.
///
/// @type {Color}
$color-bg-nav-primary-hover: darken( $color-bg-nav-primary, 20% ) !default;

/// Primary nav menu background color - focus state.
///
/// @type {Color}
$color-bg-nav-primary-focus: darken( $color-bg-nav-primary, 20% ) !default;

/// Primary nav menu background color - active state.
///
/// @type {Color}
$color-bg-nav-primary-active: darken( $color-bg-nav-primary, 20% ) !default;

/// Search nav menu item color.
///
/// @type {Color}
$color-nav-search: $color-header !default;

/// Search nav menu item color - hover state.
///
/// @type {Color}
$color-nav-search-hover: $color-nav-search !default;

/// Search nav menu item color - focus state.
///
/// @type {Color}
$color-nav-search-focus: $color-nav-search !default;

/// Search nav menu item color - active state.
///
/// @type {Color}
$color-nav-search-active: $color-nav-search !default;

/// Search nav menu background color.
///
/// @type {Color}
$color-bg-nav-search: $color-bg-header !default;

/// Search nav menu background color - hover state.
///
/// @type {Color}
$color-bg-nav-search-hover: $color-bg-nav-search !default;

/// Search nav menu background color - focus state.
///
/// @type {Color}
$color-bg-nav-search-focus: $color-bg-nav-search !default;

/// Search nav menu background color - active state.
///
/// @type {Color}
$color-bg-nav-search-active: $color-bg-nav-search !default;

/// Sidebar nav menu item color.
///
/// @type {Color}
$color-nav-sidebar: $color-light !default;

/// Sidebar nav menu item color - hover state.
///
/// @type {Color}
$color-nav-sidebar-hover: $color-nav-sidebar !default;

/// Sidebar nav menu item color - focus state.
///
/// @type {Color}
$color-nav-sidebar-focus: $color-nav-sidebar !default;

/// Sidebar nav menu item color - active state.
///
/// @type {Color}
$color-nav-sidebar-active: $color-nav-sidebar !default;

/// Sidebar nav menu background color.
///
/// @type {Color}
$color-bg-nav-sidebar: $color-brand-primary !default;

/// Sidebar nav menu background color - hover state.
///
/// @type {Color}
$color-bg-nav-sidebar-hover: darken( $color-bg-nav-sidebar, 20% ) !default;

/// Sidebar nav menu background color - focus state.
///
/// @type {Color}
$color-bg-nav-sidebar-focus: darken( $color-bg-nav-sidebar, 20% ) !default;

/// Sidebar nav menu background color - active state.
///
/// @type {Color}
$color-bg-nav-sidebar-active: $color-dark !default;

/// Footer nav menu item color.
///
/// @type {Color}
$color-nav-footer: $color-light !default;

/// Footer nav menu item color - hover state.
///
/// @type {Color}
$color-nav-footer-hover: $color-nav-footer !default;

/// Footer nav menu item color - focus state.
///
/// @type {Color}
$color-nav-footer-focus: $color-nav-footer !default;

/// Footer nav menu item color - active state.
///
/// @type {Color}
$color-nav-footer-active: $color-nav-footer !default;

/// Footer nav menu background color.
///
/// @type {Color}
$color-bg-nav-footer: $color-dark !default;

/// Footer nav menu background color - hover state.
///
/// @type {Color}
$color-bg-nav-footer-hover: $color-bg-nav-footer !default;

/// Footer nav menu background color - focus state.
///
/// @type {Color}
$color-bg-nav-footer-focus: $color-bg-nav-footer !default;

/// Footer nav menu background color - active state.
///
/// @type {Color}
$color-bg-nav-footer-active: $color-bg-nav-footer !default;

/// Default widget color.
///
/// @type {Color}
$color-widget: $color-content !default;

/// Default widget background color.
///
/// @type {Color}
$color-bg-widget: $color-bg-content !default;

/// Default widget border color.
///
/// @type {Color}
$color-border-widget: $color-border-content !default;

/// Default widget header color.
///
/// @type {Color}
$color-widget-header: $color-widget !default;

/// Default widget header color.
///
/// @type {Color}
$color-bg-widget-header: $color-bg-widget !default;

/// Default widget header color.
///
/// @type {Color}
$color-border-widget-header: $color-border-widget !default;

/// Default widget divider color.
///
/// @type {Color}
$color-widget-divider: $color-widget !default;



// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

/// Default sans-serif font stack.
///
/// @type {List}
$font-family-sans: 'Open Sans', sans-serif !default;

/// Default serif font stack.
///
/// @type {List}
$font-family-serif: Georgia, Times, serif !default;

/// Default monospace font stack.
///
/// @type {List}
$font-family-mono: monaco, Consolas, monospace !default;

/// Default font stack.
///
/// @type {List}
$font-family-base: $font-family-sans !default;

/// Default font size.
///
/// @type {Number}
$font-size-base: rem-calc( 14px ) !default;

/// Small font size.
///
/// @type {Number}
$font-size-small: rem-calc( 13px ) !default;

/// Large font size.
///
/// @type {Number}
$font-size-large: rem-calc( 16px ) !default;

/// Title font size.
///
/// @type {Number}
$font-size-title: rem-calc( 18px ) !default;

/// Heading font size.
///
/// @type {Number}
$font-size-heading: rem-calc( 20px ) !default;

/// Default nav menu font size.
///
/// @type {Number}
$font-size-nav: $font-size-large !default;

/// Primary nav menu font size.
///
/// @type {Number}
$font-size-nav-primary: $font-size-nav !default;

/// Search nav menu font size.
///
/// @type {Number}
$font-size-nav-search: $font-size-base !default;

/// Sidebar nav menu font size.
///
/// @type {Number}
$font-size-nav-sidebar: $font-size-nav !default;

/// Footer nav menu font size.
///
/// @type {Number}
$font-size-nav-footer: $font-size-base !default;

/// Footer copyright info font size.
///
/// @type {Number}
$font-size-footer-copyright: $font-size-small !default;

/// Link text decoration.
///
/// @type {String}
$text-decoration-link: none !default;

/// link text decoration - hover state.
///
/// @type {String}
$text-decoration-link-hover: underline !default;

/// Link text decoration - active state.
///
/// @type {String}
$text-decoration-link-active: none !default;

/// Link text decoration - focus state.
///
/// @type {String}
$text-decoration-link-focus: underline !default;

/// Visited link text decoration.
///
/// @type {String}
$text-decoration-link-visited: none !default;

/// Visited link text decoration - hover state.
///
/// @type {String}
$text-decoration-link-visited-hover: underline !default;

/// Visited link text decoration - active state.
///
/// @type {String}
$text-decoration-link-visited-active: none !default;

/// Visited link text decoration - focus state.
///
/// @type {String}
$text-decoration-link-visited-focus: underline !default;



// -------------------------------------------------------------------------
// Icons
// -------------------------------------------------------------------------

/// The prefix to use for FontAwesome icons.
///
/// @type {String}
$fa-css-prefix: 'icon' !default;



// -------------------------------------------------------------------------
// Component Variants
// -------------------------------------------------------------------------

/// Button variants
///
/// @type {Map}
/// @access private
$button-variants: (
	default:   $color-button-default,
	primary:   $color-button-primary,
	secondary: $color-button-secondary,
	tertiary:  $color-button-tertiary,
	success:   $color-button-success,
	error:     $color-button-error,
	info:      $color-button-info,
	alert:     $color-button-alert,
);

/// Nav variants
///
/// @type {Map}
/// @access private
$nav-variants: (
	primary: (
		color:           $color-nav-primary,
		color-hover:     $color-nav-primary-hover,
		color-focus:     $color-nav-primary-focus,
		color-active:    $color-nav-primary-active,
		color-bg:        $color-bg-nav-primary,
		color-bg-hover:  $color-bg-nav-primary-hover,
		color-bg-focus:  $color-bg-nav-primary-focus,
		color-bg-active: $color-bg-nav-primary-active,
		font-size:       $font-size-nav-primary,
	),

	search: (
		color:           $color-nav-search,
		color-hover:     $color-nav-search-hover,
		color-focus:     $color-nav-search-focus,
		color-active:    $color-nav-search-active,
		color-bg:        $color-bg-nav-search,
		color-bg-hover:  $color-bg-nav-search-hover,
		color-bg-focus:  $color-bg-nav-search-focus,
		color-bg-active: $color-bg-nav-search-active,
		font-size:       $font-size-nav-search,
	),

	sidebar: (
		color:           $color-nav-sidebar,
		color-hover:     $color-nav-sidebar-hover,
		color-focus:     $color-nav-sidebar-focus,
		color-active:    $color-nav-sidebar-active,
		color-bg:        $color-bg-nav-sidebar,
		color-bg-hover:  $color-bg-nav-sidebar-hover,
		color-bg-focus:  $color-bg-nav-sidebar-focus,
		color-bg-active: $color-bg-nav-sidebar-active,
		font-size:       $font-size-nav-sidebar,
	),

	footer: (
		color:           $color-nav-footer,
		color-hover:     $color-nav-footer-hover,
		color-focus:     $color-nav-footer-focus,
		color-active:    $color-nav-footer-active,
		color-bg:        $color-bg-nav-footer,
		color-bg-hover:  $color-bg-nav-footer-hover,
		color-bg-focus:  $color-bg-nav-footer-focus,
		color-bg-active: $color-bg-nav-footer-active,
		font-size:       $font-size-nav-footer,
	),
);
