////
/// @group Abstracts
////



// -------------------------------------------------------------------------
// Grid / Layout
// -------------------------------------------------------------------------

/// Z-index map.
///
/// @type {Map}
$z-index-levels: (
	nav: 10,
	nav-menu: 20,
);

/// Default breakpoints.
///
/// @type {Map}
/// @access private
$_breakpoints: (
	xs: 0,
	sm: rem-calc( 572px ),
	md: rem-calc( 756px ),
	lg: rem-calc( 940px ),
	xl: rem-calc( 1124px ),
);

/// Breakpoints
///
/// @type {Map}
$breakpoints: $_breakpoints !default;
$breakpoints: map-extend( $_breakpoints, $breakpoints );

/// Container widths.
///
/// @type {Map}
$container-widths: $breakpoints !default;
$container-widths: map-extend( $breakpoints, $container-widths );

/// The number of columns to use for the grid.
///
/// @type {Number}
$grid-cols: 24 !default;

/// The width of the grid.
///
/// @type {Number}
$grid-width: rem-calc( 1124px ) !default;

/// The width of a grid column.
///
/// @type {Number}
$grid-col-width: rem-calc( 26px ) !default;

/// The width of the gutter between grid columns.
///
/// @type {Number}
$gutter-width: rem-calc( 20px ) !default;

/// The height of the gutter between grid rows.
///
/// @type {Number}
$gutter-height: $gutter-width !default;

/// Default padding.
///
/// @type {Number}
$padding-base: rem-calc( 15px ) !default;

/// Default margin.
///
/// @type {Number}
$margin-base: rem-calc( 10px ) !default;

/// Default global Susy config.
///
/// @type {Map}
/// @access private
$_susy: (
	columns: $grid-cols,
	column-width: $grid-col-width,
	gutters: $gutter-width / $grid-col-width,
	gutter-position: inside-static,
	global-box-sizing: border-box,
);

/// Global Susy config.
///
/// @type {Map}
$susy: $_susy !default;
$susy: map-extend( $_susy, $susy );



// -------------------------------------------------------------------------
// Theme Colors
// -------------------------------------------------------------------------

/// Default color.
///
/// @type {Color}
$color-base: $color-grey-mortar !default;

/// Default light color.
///
/// @type {Color}
$color-light: $color-white !default;

/// Default medium-gray color.
///
/// @type {Color}
$color-medium: $color-grey !default;

/// Default dark color.
///
/// @type {Color}
$color-dark: $color-grey-mine-shaft !default;

/// Primary branding color.
///
/// @type {Color}
$color-brand-primary: $color-red-crimson !default;

/// Secondary branding color.
///
/// @type {Color}
$color-brand-secondary: $color-grey-casper !default;

/// Tertiary branding color.
///
/// @type {Color}
$color-brand-tertiary: $color-grey-white-smoke !default;

/// Success state color.
///
/// @type {Color}
$color-state-success: $color-green-fern !default;

/// Error state color.
///
/// @type {Color}
$color-state-error: $color-red-cardinal !default;

/// Info state color.
///
/// @type {Color}
$color-state-info: $color-blue-malibu !default;

/// Alert state color.
///
/// @type {Color}
$color-state-alert: $color-orange-casablanca !default;



// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

/// Link color.
///
/// @type {Color}
$color-link: $color-blue-lochmara !default;

/// Link color - hover state.
///
/// @type {Color}
$color-link-hover: tint-or-shade( $color-link, 10% ) !default;

/// Link color - focus state.
///
/// @type {Color}
$color-link-focus: $color-link-hover !default;

/// Link color - active state.
///
/// @type {Color}
$color-link-active: $color-link-hover !default;

/// Visited link color.
///
/// @type {Color}
$color-link-visited: $color-purple-royal !default;

/// Visited link color - hover state.
///
/// @type {Color}
$color-link-visited-hover: tint-or-shade( $color-link-visited, 10% ) !default;

/// Visited link color - focus state.
///
/// @type {Color}
$color-link-visited-focus: $color-link-visited-hover !default;

/// Visited link color - active state.
///
/// @type {Color}
$color-link-visited-active: $color-link-visited-hover !default;



// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

/// Default line height.
///
/// @type {Number}
$line-height-base: rem-calc( 20px ) !default;

/// Default line spacing.
///
/// @type {Number}
$line-spacing-base: 0.5 * $line-height-base !default;

/// Heading line spacing.
///
/// @type {Number}
$line-spacing-heading: $line-spacing-base !default;

/// List item line spacing.
///
/// @type {Number}
$line-spacing-list-item: 0.5 * $line-spacing-base !default;

/// Default font size.
///
/// @type {Number}
$font-size-base: rem-calc( 14px ) !default;

/// Small font size.
///
/// @type {Number}
$font-size-small: rem-calc( 12px ) !default;

/// Large font size.
///
/// @type {Number}
$font-size-large: rem-calc( 16px ) !default;

/// Title font size.
///
/// @type {Number}
$font-size-title: rem-calc( 18px ) !default;

/// Heading font size.
///
/// @type {Number}
$font-size-heading: rem-calc( 20px ) !default;

/// Default sans-serif font stack.
///
/// @type {List}
$font-family-sans: 'Open Sans', sans-serif !default;

/// Default serif font stack.
///
/// @type {List}
$font-family-serif: Georgia, Times, serif !default;

/// Default monospace font stack.
///
/// @type {List}
$font-family-mono: monaco, Consolas, monospace, monospace !default;

/// Default font stack.
///
/// @type {List}
$font-family-base: $font-family-sans !default;

/// Link text decoration.
///
/// @type {String}
$text-decoration-link: none !default;

/// link text decoration - hover state.
///
/// @type {String}
$text-decoration-link-hover: underline !default;

/// Link text decoration - active state.
///
/// @type {String}
$text-decoration-link-active: underline !default;

/// Link text decoration - focus state.
///
/// @type {String}
$text-decoration-link-focus: underline !default;

/// Visited link text decoration.
///
/// @type {String}
$text-decoration-link-visited: none !default;

/// Visited link text decoration - hover state.
///
/// @type {String}
$text-decoration-link-visited-hover: underline !default;

/// Visited link text decoration - active state.
///
/// @type {String}
$text-decoration-link-visited-active: underline !default;

/// Visited link text decoration - focus state.
///
/// @type {String}
$text-decoration-link-visited-focus: underline !default;
