
// Greyscale
$color-white:               #fff;
$color-grey-zircon:         #f4f8ff;
$color-grey-smoke:          #f4f4f4;
$color-grey-gallery:        #eee;
$color-grey-alto:           #ddd;
$color-grey-light:          #ccc;
$color-grey-nobel:          #bbb;
$color-grey-tower:          #a9bdbf;
$color-grey-casper:         #aeb6b4;
$color-grey-edward:         #a2aeab;
$color-grey-silver-chalice: #aaa;
$color-grey-dusty:          #999;
$color-grey-suva:           #8b8685;
$color-grey:                #808080;
$color-grey-boulder:        #7a7a7a;
$color-grey-dim:            #696969;
$color-grey-scorpion:       #695f62;
$color-grey-dove:           #6d6c6c;
$color-grey-mortar:         #555;
$color-grey-fuscous:        #54534d;
$color-grey-dune:           #514f4a;
$color-grey-emperor:        #514649;
$color-grey-charcoal:       #444;
$color-grey-mine-shaft:     #393939;
$color-grey-night-rider:    #333;
$color-grey-nero:           #222;
$color-grey-cod:            #111;
$color-black:               #000;

// Reds
$color-red:             #f00;
$color-red-scarlet:     #f20;
$color-red-vermillion:  #f40;
$color-red-alizarin:    #e32636;
$color-red-crimson:     #d2202f;
$color-red-cardinal:    #ca2026;
$color-red-free-speech: #c00;
$color-red-guardsman:   #b00;
$color-red-sangria:     #900;
$color-red-berry:       #800;
$color-red-maroon:      #700;
$color-red-lonestar:    #600;
$color-red-rosewood:    #500;
$color-red-temptress:   #400;

// Oranges
$color-orange:               #f60;
$color-orange-peel:          #fa0;
$color-orange-pizazz:        #f90;
$color-orange-flush:         #f70;
$color-orange-international: #f50;
$color-orange-sea:           #fea904;
$color-orange-casablanca:    #f0b253;
$color-orange-casablanca:    #e4a253;
$color-orange-bright-sun:    #ecbd2c;
$color-orange-tulip-tree:    #eab33b;
$color-orange-fuel:          #eca927;
$color-orange-carrot:        #ed9121;
$color-orange-roughy:        #c45719;

// Yellows
$color-yellow:            #ff0;
$color-yellow-chartreuse: #df0;
$color-yellow-turbo:      #fe0;
$color-yellow-school-bus: #fd0;
$color-yellow-supernova:  #fc0;

// Greens
$color-green:                 #090;
$color-green-lime:            #0d0;
$color-green-rio-grande:      #bbd009;
$color-green-apple:           #66b348;
$color-green-fern:            #58b956;
$color-green-fruit-salad:     #4ba351;
$color-green-japanese-laurel: #0a6906;
$color-green-camarone:        #051;
$color-green-british-racing:  #042;
$color-green-deep-fir:        #030;

// Blues
$color-blue:                  #00f;
$color-blue-medium:           #00d;
$color-blue-midnight:         #009;
$color-blue-navy:             #007;
$color-blue-powder:           #b0e0e6;
$color-blue-cornflower-light: #9ce;
$color-blue-viking:           #6cd;
$color-blue-downy:            #6fd0c5;
$color-blue-malibu:           #58bbe0;
$color-blue-picton:           #45b1e8;
$color-blue-summer-sky:       #38b0de;
$color-blue-cornflower:       #69e;
$color-blue-royal:            #46e;
$color-blue-lochmara:         #0071bc;
$color-blue-science:          #06c;
$color-blue-endeavour:        #05a;
$color-blue-orient:           #058;
$color-blue-prussian:         #036;

// Purples
$color-purple:              #609;
$color-purple-heart:        #63c;
$color-purple-royal:        #639;
$color-purple-dark-magenta: #909;
$color-purple-tyrian:       #603;
