
/// Button variant mixin.
///
/// @param {String} $variant - The button variant.
@mixin button-variant( $variant ) {
	@if not map-has-key( $button-variants, $variant ) {
		@warn "`#{$variant}` is not a valid button variant.";
	} @else {
		@include button-colors( map-get( $button-variants, $variant ) );
	}
}

/// Creates a basic colored button.
///
/// @param {Map} $theme - The button colors you want to use.
@mixin button-color( $theme ) {

	$color:       map-get( $theme, 'color' );
	$color-hover: map-get( $theme, 'color-hover' );

	@include style-link {
		border-color: $color;
		color: $color;

		&:active,
		&:focus,
		&:hover {
			background-color: $color;
			color: $color-hover;
		}
	}
}
