
/// Nav variant mixin.
///
/// @param {String} $variant [null] - The nav variant.
/// @param {String} $align   [left] - The nav alignment. Can be left or right.
@mixin nav-variant( $variant: null, $style: block, $align: left ) {

	@include susy-clearfix;

	@if not $variant or not map-has-key( $nav-variants, $variant ) {
		@warn "`#{$variant} is not a valid nav menu variant.`"
	} @else {
		$theme: map-get( $nav-variants, $variant );

		border-color: map-get( $theme, 'color' );
		background-color: map-get( $theme, 'color-bg' );
		text-align: $align;
		color: map-get( $theme, 'color' );
		font-size: map-get( $theme, 'font-size' );

		.menu__item {
			border-color: map-get( $theme, 'color' );

			&:hover,
			&:focus {
				background-color: map-get( $theme, 'color-bg-hover' );
				color: map-get( $theme, 'color-hover' );
			}

			&.is-active {
				background-color: map-get( $theme, 'color-bg-active' );
				color: map-get( $theme, 'color-active' );
			}
		}
	}
}
