////
/// @group Abstracts
////



// -------------------------------------------------------------------------
// Grid / Layout
// -------------------------------------------------------------------------

/// The number of columns the main content section spans with no sidebars.
///
/// @type {Number}
$span-main-content: 24 !default;

/// The number of columns the primary sidebar section spans.
///
/// @type {Number}
$span-sidebar-primary: 5 !default;

/// The number of columns the secondary sidebar section spans.
///
/// @type {Number}
$span-sidebar-secondary: 7 !default;

/// The number of columns the combined sidebar section spans.
///
/// @type {Number}
$span-sidebar-combined: 8 !default;

/// The alignment of header in mobile view
$mobile-header-alignment: left !default;



// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

/// Body text color.
///
/// @type {Color}
$color-body: $color-base !default;

/// Header text color.
///
/// @type {Color}
$color-header: $color-base !default;

/// Main content text color.
///
/// @type {Color}
$color-content: $color-base !default;

/// Footer text color.
///
/// @type {Color}
$color-footer: $color-light !default;

/// Footer copyright text color.
///
/// @type {Color}
$color-footer-copyright: $color-medium !default;



// -------------------------------------------------------------------------
// Background Colors
// -------------------------------------------------------------------------

/// Body background color.
///
/// @type {Color}
$background-color-body: $color-brand-tertiary !default;

/// Header background color.
///
/// @type {Color}
$background-color-header: $color-light !default;

/// Main content background color.
///
/// @type {Color}
$background-color-content: $color-light !default;

/// Alternate main content background color.
///
/// @type {Color}
$background-color-content-alt: tint-or-shade( $background-color-content, 10% ) !default;

/// Footer background color.
///
/// @type {Color}
$background-color-footer: $color-dark !default;



// -------------------------------------------------------------------------
// Borders
// -------------------------------------------------------------------------

/// Main content border color.
///
/// @type {Color}
$border-color-content: $background-color-content-alt !default;



// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

/// Footer font size.
///
/// @type {Number}
$font-size-footer: $font-size-small !default;


/// Footer copyright info font size.
///
/// @type {Number}
$font-size-footer-copyright: $font-size-small !default;
