////
/// Breadcrumbs
///
/// @group Components
////

.breadcrumbs {
	@extend %content-section;

	display: -js-flex;
	display: flex;
	border: 1px solid $border-color-content;
	border-bottom: 0;
	background-color: $background-color-content;
	width: 100%;
	list-style: none;
}

.breadcrumb {
	display: block;
	float: left;
	border-left: 1px solid $border-color-content;
	padding: 0 15px;
	min-width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: $font-size-large;

	&:last-child {
		width: auto;
	}

	a {
		@include style-link {
			color: inherit;
		}
	}
}

.breadcrumb--icon {
	border-left: 0;
	background-color: $color-brand-primary;
	text-align: center;
	color: contrast-color( $color-brand-primary );
	font-size: 18px;
}

.breadcrumb--section {
	text-transform: uppercase;
	color: $color-brand-primary;
	font-weight: bold;
}

.breadcrumb--trail {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	[property="itemListElement"] > [property="name"] {
		font-weight: bold;
	}
}
