////
/// Header Search Form
///
/// @group Components
////

.search-form {
	@include susy-clearfix;

	position: relative;
	text-align: right;
}

.search-form__label,
.search-form__input,
.search-form__button {
	display: inline-block;
}

.search-form__label {
	float: right;
	text-align: right;
	@include span( full );
	@include breakpoint( md ) {
		float: right;
		text-align: right;
		width: 300px;
	}
}

.search-form__input {
	height: 34px;
	@include span( full );
	@include breakpoint( md ) {
		width: 300px;
	}
}

.search-form__button {
	position: absolute;
	right: 0;
	outline: 0;
	border: 0;
	background-color: $color-base;
	padding: 0;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: contrast-color( $color-base );
	font-size: 20px;
}

.search-form__icon {
	@include icon( $fa-var-search );
}
